<div class="example-container mat-elevation-z8">

  <input type="button" value="Click" id="coolbutton">start alg<input>
  <button (click)="myMethod($event)">start algorithm</button>

  <table mat-table [dataSource]="table" matSort>
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">עיר</th>
      <td mat-cell *matCellDef="let model">
        <label style="font-weight: bold;"> {{model.point.pointName}} </label>
      </td>
    </ng-container>
    <ng-container matColumnDef="N">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">צפון</th>
      <td mat-cell *matCellDef="let model">{{model.point.N}}</td>
    </ng-container>
    <ng-container matColumnDef="E">
      <th mat-header-cell *matHeaderCellDef>מזרח</th>
      <td mat-cell *matCellDef="let model">{{model.point.E}}</td>
    </ng-container>
    <ng-container *ngFor="let aircraft of aircraftArray" matColumnDef="time-{{aircraft.aircraftId}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">
        {{aircraftTypes.get(aircraft.aircraftTypeId).name + ' ' + aircraft.aircraftId}}
      </th>
      <td mat-cell *matCellDef="let model">
        <label (keydown)="labelKeyDown($event, aircraft, model.point)" #lbl contenteditable="true"
               (focus)="labelClicked(lbl, aircraft, model.point)" (click)="labelClicked(lbl)" (blur)="labelBlurred(lbl, aircraft, model.point)"
               [contenteditableModel]="getTimeOfAircraftOnPoint(aircraft, model.point)"
               (contenteditableModelChange)="aircraftTimeOnPointChanged(aircraft, model.point, $event)">
        </label>
      </td>
    </ng-container>
    <!--<ng-container matColumnDef="add-aircraft">-->
      <!--<th mat-header-cell *matHeaderCellDef (click)="addColumn()">+</th>-->
      <!--<td mat-cell *matCellDef></td>-->
    <!--</ng-container>-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let model; columns: displayedColumns;"></tr>
  </table>
</div>
