<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<!--<app-data-forms></app-data-forms>-->
<!--</div>-->

<style>
  .loader span, img {
    animation: loadingUp .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  @keyframes loadingUp {
    from { transform: translateY(50px); }
  }
</style>

<div class="loader" style="width: 100vw; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; background-color: rgba(255, 255, 255, 0.486); backdrop-filter: blur(10px); z-index: 9999;" *ngIf="!readyState">
  <img src="../assets/headerLogo.svg" height="100px">
  <br>
  <span [textContent]="loadingText"></span>
</div>

<div class="container">
  <mat-toolbar dir="rtl">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="openDialog('aircraft')" mat-menu-item>
        <span>הוסף כלי טיס חדש</span>
      </button>
      <button (click)="openDialog('aircrafttype')" mat-menu-item>
        <span>הוסף סוג כלי טיס חדש</span>
      </button>
      <button (click)="openDialog('aircrafttypeupdate')" mat-menu-item>
        <span>עדכן סוג כלי טיס</span>
      </button>
      <button (click)="openDialog('point')" mat-menu-item>
        <span>הוסף עיר חדשה</span>
      </button>
      <button (click)="openDialog('metadata')" mat-menu-item>
        <span>ערוך את פרטי המטס</span>
      </button>
      <button (click)="openDialog('notification')" mat-menu-item>
        <span>שלח התראה</span>
      </button>
      <button (click)="saveClicked()" mat-menu-item>
        <span>שמור טבלה</span>
      </button>
      <button (click)="saveRoutesClicked()" mat-menu-item>
        <span>שמור נתיבים</span>
      </button>
    </mat-menu>
    <img style="margin: 0 auto;" src="./assets/headerLogo.svg" height="35px">

    <div [class.disabled]="!productionPush" style="display: flex; align-items: center; cursor: pointer; margin: 8px;" (click)="publishProduction()">
      <span style="font-size: 14px; font-weight: 600;"> פרסום</span>
      <img class="save prod" style="width: 24px;" src="./assets/save-production.svg" >
    </div>
    
    <img class="save" src="./assets/save.svg" style="margin-left: 8px;" (click)="saveAll()" >
    <div *ngIf="unsavedChanged" class="save-indicator"></div>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="ניהול מטוסים">
      <app-management-table [savePerformed]="subject"></app-management-table>
    </mat-tab>
    <mat-tab label="ניהול נתיבים">
      <routes-management></routes-management>
    </mat-tab>
  </mat-tab-group>
</div>
